
{{#unless user}}
<h1> Welcome to Lift Big</h1>
<p>
<a href="/login">Log In</a>
</p>

<p>
<a href ="/register">Create Account</a>
</p>
{{/unless}}

{{#if user}}
<h2>Welcome {{user.username}}</h2>

<div id="logout">
    <a href="/logout">Log out</a>
</div>

<a href="/exercises"><h3>Exercises</h3></a>
<a href="/workouts"><h3>Workouts</h3></a>
<a href="/logs"><h3>Logs</h3></a>

{{/if}}
