<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="../node_modules/chart.js/dist/Chart.bundle.js"></script>
</head>

<body>
    <h1 id="LiftBig"> Lift Big </h1>
    {{{body}}}
</body>

</html>