<!DOCTYPE html>
<html>

<head>
    <title>Lift Big!</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <div class="header"><a href='/'><h1 id="LiftBig"> Lift Big </h1></a></div>
    <div class="content">
    
    {{{body}}}

    </div>
</body>

</html>