<h1>Register</h1>
<form action="/register" method="post">
    <p>
    Create Username: <input type="text" name="username" placeholder="Enter a Username" id="">
    </p>
    <p>
    Choose Password: <input type="password" name="password" placeholder="New Password" id="">
    </p>
    <p>
    <input type="submit" value="Create Account">
    </p>
</form>