body {
    background-color: rgb(196, 219, 248);
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1,h2 {
    font: "Lucida Grande", Helvetica, Arial, sans-serif;
    color: rgb(13, 138, 184);
}



a {
    color: rgb(13, 138, 184);
}

.exerciseDisplay{
    border: 1px solid blue;
}

.errorMessage{
    color: red;
}

#LiftBig{
    text-align: center;
}

#logout{
    text-align: right;
}