body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background: rgb(178, 197, 197);
    text-align: center;
}

h1,h2 {
    font: "Lucida Grande", Helvetica, Arial, sans-serif;
    color: rgb(13, 138, 184);
}

a {
    color: rgb(13, 138, 184);
}

div{
    margin: 5px;
}

.create{
    margin-top: 40px;
}

.content{
    width: 1200px;
    margin: 70px auto;
    height: 1000em;
    padding: 10px;
    background-color: rgb(178, 197, 197);
    text-align: left;
}

.exerciseDisplay{
    /* border: 1px solid blue;/ */
}

.errorMessage{
    color: red;
}
.header{
    padding: 10px;
    background-color: rgb(32, 89, 105);
    height:100px;
    /* background:#F0F0F0; */
    border:1px solid #CCC;
    width:100em;
    margin:0px auto;
}

#LiftBig{
    text-align: center;
}

#logout{
    text-align: left;
}

.workoutHeader{

    color: rgb(13, 138, 184);
}
